<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.lchrislee.longjourney"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch"/>
    <uses-feature android:name="android.hardware.sensor.stepcounter"/>

    <application
        android:name=".LongJourneyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault"
        android:fullBackupContent="false" >
        <activity
            android:name=".activities.TravelActivity"
            android:label="@string/app_name"
            android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.BattleActivity"
            android:label="@string/title_activity_battle"
            android:allowEmbedded="true"
            android:exported="true">
        </activity>
        <activity
            android:name=".activities.BattleConclusionActivity"
            android:label="@string/title_activity_battle_conclusion"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:parentActivityName=".activities.BattleActivity">
        </activity>
    </application>

</manifest>