<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lchrislee.longjourney">

    <uses-feature android:name="android.hardware.type.watch" />
    <uses-feature android:name="android.hardware.sensor.stepcounter" />

    <application
        android:name=".LongJourneyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">

        <!-- Independent of any phone app! -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <!-- Activities -->
        <!-- android:allowEmbedded must be true for custom notifications in wear. -->

        <activity
            android:name=".activities.LongJourneyBaseActivity"
            android:label="@string/app_name"
            android:allowEmbedded="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Utilities -->

        <receiver
            android:name=".utility.receivers.StepCountBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF"/>
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>

        <service
            android:name=".utility.services.StepCountJobService"
            android:exported="false"
            android:label="@string/service_job_step_count_label"
            android:permission="android.permission.BIND_JOB_SERVICE"
            />
    </application>

</manifest>